<form name="myForm" (ngSubmit)="myForm.form.valid && onSubmit(myForm)" #myForm1="ngForm" novalidate fxLayout="row wrap"
    fxLayoutAlign="start center">
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Business Type" type="text"
        filedName="Type" [filedValue]="business" required="true" errorRequired="BusinessType is required">
    </app-input>
    <app-select fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Industries" type="text"
        filedName="IndustryId" [filedValue]="business" required="true" primaryKey="Id" name="Name"
        [data]="industries" [readonly]="!isEdit" errorRequired="PartnerFunction is required">
    </app-select>
    <mat-slide-toggle  fxFlex="33.3"
            class="example-margin"
            color="primary"
            [checked]="true"
            >
            Active
          </mat-slide-toggle>
       <div fxLayoutAlign="end end" fxFlex="100">
        <button mat-raised-button color="primary" *ngIf="!isEdit" type="submit" [disabled]="!isEdit">
            Save
        </button>
        <button mat-raised-button color="primary" *ngIf="isEdit" type="submit" [disabled]="!myForm.valid">
            Save
        </button>
    </div>
</form>