<form name="myForm" (ngSubmit)="myForm.form.valid && onSubmit(myForm)" #myForm="ngForm" novalidate fxLayout="row wrap"
    fxLayoutAlign="start center">
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Bank Name" type="text"
        filedName="BankName" [filedValue]="bank" required="true" errorRequired="BankName is required"
        [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="BranchName" type="text" filedName="BranchName"
        [filedValue]="bank" required="true" errorRequired="BranchName is required" [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Location" type="text" filedName="Location"
        [filedValue]="bank" required="true" errorRequired="Location is required" [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="IFSC" type="text" filedName="IFSC"
        [filedValue]="bank" required="true" errorRequired="IFSC is required" [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Phone" type="text" filedName="Phone"
        [filedValue]="bank" required="true" errorRequired="Phone is required" [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Mobile" type="text" filedName="Mobile"
        [filedValue]="bank" required="true" errorRequired="Mobile is required" [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Email" type="text" filedName="Email"
        [filedValue]="bank" required="true" errorRequired="Email is required" [readonly]="!isEdit">
    </app-input>
    <!-- <mat-radio-group class="padding-left" fxFlex="33.3" aria-label="ActiveStatus" [(ngModel)]="bank.Status"
        [disabled]="!isEdit" [ngModelOptions]="{standalone: true}">
        <mat-radio-button [value]="true">Active</mat-radio-button>
        <mat-radio-button [value]="false">In - Active</mat-radio-button>
    </mat-radio-group> -->
    <mat-slide-toggle [disabled]="!isEdit"
    class="example-margin"
    color="primary"
    [checked]="bank.Status"
    >
  Active
</mat-slide-toggle>
    <div fxLayoutAlign="end end" fxFlex="100">
        <button mat-raised-button color="primary" *ngIf="!isEdit" type="submit" [disabled]="!isEdit">
            Save
        </button>
        <button mat-raised-button color="primary" *ngIf="isEdit" type="submit" [disabled]="!myForm.valid">
            Save
        </button>
    </div>
</form>