<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="menu-header">
        <span>
            Company Admin /
        </span>
        <span style="color:#ccc">Create Composite Role</span>
    </div>
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="center center" class="padding">
    <form (ngSubmit)="onSubmit(myForm)" fxLayout="row wrap" fxLayoutAlign="start center">
        <app-input fxFlex="100" [form]="myForm" class="padding-left" labelName="Composite Role Name" type="text"
            filedName="name" [filedValue]="compositeRole" required="true">
        </app-input>
        <app-input fxFlex="100" [form]="myForm" class="padding-left" labelName="Description" type="text"
            filedName="description" [filedValue]="compositeRole">
        </app-input>


        <div fxLayoutAlign="end end" fxFlex="100">
            <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">
                Create
            </button>

        </div>
    </form>
</div>