<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="menu-header">
        <span>
            Master /
        </span>
        <span style="color:#ccc">View and Update Employee Details</span>
    </div>
    <button 
    mat-icon-button matTooltip="Edit"
     (click)="checkPermission()" 
     *ngIf="!isEdit"
     style="padding-left:0px;padding-top: 8px;">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button  matTooltip="View" *ngIf="isEdit" (click)="viewDetails()">
        <mat-icon>collections_bookmark</mat-icon>
    </button>

</mat-toolbar>
<button mat-icon-button *ngIf="width != 25 && appComponent.isOpen" class="treeIcon" (click)="maxWidth()"
    matTooltip="Expand Tree">
    <mat-icon>account_tree</mat-icon>
</button>
<button mat-icon-button *ngIf="width != 25 && !appComponent.isOpen" class="treeIconCollapse" (click)="maxWidth()"
    matTooltip="Expand Tree">
    <mat-icon>account_tree</mat-icon>
</button>
<div *ngIf="dataSrc.length == 0">
    <app-search-employee [searchEmployee]="searchEmployeeObj" (searchEmployees)="searchEmployees($event)" ></app-search-employee>
</div>
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="dataSrc.length != 0">
    <div [style.width.%]="width" style="height: 93vh;background-color: #fff;border-right: 1px solid #ccc;"
        *ngIf="width != 0">
        <div fxLayout="row" fxLayoutAlign="end center">
            <div>
                <!-- <button mat-icon-button (click)="refresh()" matTooltip="Refresh Tree">
                    <mat-icon>refresh</mat-icon>
                </button> -->
                <button mat-icon-button (click)="minWidth()" matTooltip="Collapse Tree">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>

            </div>

        </div>
        <div *ngIf="width != 40">
            <app-tree [dataSrc]="dataSrc" [childrenNode]="childrenNode" (dataNodeChange)="dataNode($event)"
                (nodeLabelChange)="nodeLabel($event)"></app-tree>
        </div>

    </div>

    <div style="height: 93vh;width: 100%;margin:16px">
        <div >
            <app-search-employee [searchEmployee]="searchEmployeeObj" (searchEmployees)="searchEmployees($event)" ></app-search-employee>
        </div>
        <mat-card class="padding">

            <div class="padding fixed-height">

                <app-add-employee-form [isEdit]="isEdit" [employee]="employee" (saveData)="saveData($event)">
                </app-add-employee-form>
            </div>
        </mat-card>

        <span mwlResizable [enableGhostResize]="false"
            [resizeEdges]="{bottom: false, right: false, top: true, left: false}" (resizeEnd)="onResizeEnd($event)"
            *ngIf="!appComponent.isOpen" [ngClass]=" width == 0 ? 'footer3' : 'footer2'" [style.height.px]="height">
            <div class="window-header" [ngClass]=" width == 0 ? 'width-off' : 'width-on'" fxLayout="row"
                fxLayoutAlign="space-between center">
                <div style="padding-left: 22px;height:4px;color:#f4f4f4">Details</div>
                <div style="padding-right: 22px;" class="window-icons">
                    <button mat-icon-button *ngIf="height > 43" matTooltip="Minimize" (click)="min()">
                        <mat-icon>indeterminate_check_box</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="height != restoreHeight" matTooltip="Restore" (click)="restore()">
                        <mat-icon>restore_page</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="height != maxHeight" (click)="max()" matTooltip="Maximize">
                        <mat-icon>aspect_ratio</mat-icon>
                    </button>
                </div>

            </div>

            <div class="content" [ngClass]=" width == 0 ? 'width-off' : 'width-on'">
                <mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="tabChange($event)">
                    <mat-tab label="Official Information">
                        <app-employee-offical-info [employeeOfficalInfo]="employeeOfficalInfo"
                        [lineManagers]="lineManagers" 
                         [isEdit]="isEdit"
                            (saveEmployeeOfficalInfo)="saveEmployeeOfficalInfo($event)"></app-employee-offical-info>
                    </mat-tab>
                    <mat-tab label="Address Information">

                        <app-employee-address-info [dataLoad]="states" [employeeAddressInfo]="employeeAddressInfo"
                            [isEdit]="isEdit" (saveEmployeeAddressInfo)="saveEmployeeAddressInfo($event)">
                        </app-employee-address-info>
                    </mat-tab>
                    <mat-tab label="Contact Information">
                        <app-employee-contact-info [employeeContactInfo]="employeeContactInfo" [isEdit]="isEdit"
                            (saveEmployeeContactInfo)="saveEmployeeContactInfo($event)">

                        </app-employee-contact-info>
                    </mat-tab>
                    <mat-tab label="EmergencyContact Information">
                        <app-employee-emergency-info [employeeEmergencyInfo]="employeeEmergencyInfo" [isEdit]="isEdit"
                            (saveEmployeeEmergencyInfo)="saveEmployeeEmergencyInfo($event)">
                        </app-employee-emergency-info>
                    </mat-tab>
                    <mat-tab label="Documents">
                        <app-employee-documents [adhar]="adharDocumentPath" [voterId]="voterIdDocumentPath"
                            [pan]="panDocumentPath" [passport]="passportDocumentPath"
                            [photograph]="PhotographDocumentPath" [highestQualification]="highestQualification"
                            [yearOfCompletion]="YearOfCompletion"
                            (saveEmployeeDocumentsInfo)="saveEmployeeDocumentsInfo($event)">

                        </app-employee-documents>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </span>
        <span *ngIf="appComponent.isOpen" [ngClass]=" width == 0 ? 'footer1' : 'footer'" [style.height.px]="height"
            mwlResizable [enableGhostResize]="false"
            [resizeEdges]="{bottom: false, right: false, top: true, left: false}" (resizeEnd)="onResizeEnd($event)">
            <div class="window-header" [ngClass]=" width == 0 ? 'width-off' : 'width-on'" fxLayout="row"
                fxLayoutAlign="space-between center">
                <div style="padding-left: 22px;height:4px;color:#f4f4f4">Details</div>
                <div style="padding-right: 22px;" class="window-icons">
                    <button mat-icon-button *ngIf="height > 43" matTooltip="Minimize" (click)="min()">
                        <mat-icon>indeterminate_check_box</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="height != restoreHeight" matTooltip="Restore" (click)="restore()">
                        <mat-icon>restore_page</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="height != maxHeight" (click)="max()" matTooltip="Maximize">
                        <mat-icon>aspect_ratio</mat-icon>
                    </button>
                </div>

            </div>

            <div class="content" [ngClass]=" width == 0 ? 'width-off' : 'width-on'">
                <mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="tabChange($event)">
                    <mat-tab label="Official Information">
                        <app-employee-offical-info [employeeOfficalInfo]="employeeOfficalInfo" [isEdit]="isEdit"
                            (saveEmployeeOfficalInfo)="saveEmployeeOfficalInfo($event)"></app-employee-offical-info>
                    </mat-tab>
                    <mat-tab label="Address Information">

                        <app-employee-address-info [dataLoad]="states" [employeeAddressInfo]="employeeAddressInfo"
                            [isEdit]="isEdit" (saveEmployeeAddressInfo)="saveEmployeeAddressInfo($event)">
                        </app-employee-address-info>
                    </mat-tab>
                    <mat-tab label="Contact Information">
                        <app-employee-contact-info [employeeContactInfo]="employeeContactInfo" [isEdit]="isEdit"
                            (saveEmployeeContactInfo)="saveEmployeeContactInfo($event)">

                        </app-employee-contact-info>
                    </mat-tab>
                    <mat-tab label="EmergencyContact Information">
                        <app-employee-emergency-info [employeeEmergencyInfo]="employeeEmergencyInfo" [isEdit]="isEdit"
                            (saveEmployeeEmergencyInfo)="saveEmployeeEmergencyInfo($event)">
                        </app-employee-emergency-info>
                    </mat-tab>
                    <mat-tab label="Documents">
                        <app-employee-documents [adhar]="adharDocumentPath" [voterId]="voterIdDocumentPath"
                            [pan]="panDocumentPath" [passport]="passportDocumentPath"
                            [photograph]="PhotographDocumentPath" [highestQualification]="highestQualification"
                            [yearOfCompletion]="YearOfCompletion"
                            (saveEmployeeDocumentsInfo)="saveEmployeeDocumentsInfo($event)">

                        </app-employee-documents>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </span>

    </div>
</div>
<ng-template #statusDialog>
    <h2 matDialogTitle>Confirm</h2>
    <mat-dialog-content>
        <p>
            Changes that you made may not be saved.
        </p>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="saveChanges()" type="button">Save the changes</button>
        <button mat-button (click)="discardChanges()" type="button">Discard the changes</button>
    </mat-dialog-actions>
</ng-template>