
 <mat-toolbar class="head-toolbar" fxLayout="row" 
 fxLayoutAlign="space-between center" >
    <div  class="menu-header">  
        <span>
            Masters/Agency </span>
    </div>
  
  </mat-toolbar>
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="padding">
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="addAgency()">Add Agency</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="viewAgency()">View Agency</mat-card>
  </div>
  
  
  