<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <!-- <div>
      Add Goods Details
    </div> -->
  
    <div  class="menu-header">  
      <span>
          Master /
      </span>
     <span style="color:#ccc">Add Goods Details</span> 
  </div>
  </mat-toolbar>
  
  <div fxLayout="row" fxLayoutAlign="center center">
    <div style="height: 93vh;width: 100%;margin:16px">
      <mat-card class="padding">
        <div class="padding fixed-height">
  
          <app-goods-form [isEdit]="isEdit" [goods]="goods" (saveData)="saveData($event)"></app-goods-form>
        </div>
      </mat-card>
    </div>
  </div>
  <ng-template #statusDialog>
    <h2 matDialogTitle>Confirm</h2>
    <mat-dialog-content>
        <p>
         Changes that you made may not be saved.
        </p>
           
    </mat-dialog-content>
    <mat-dialog-actions align="end">
            <button mat-button (click)="saveChanges()">Save the changes</button>
            <button mat-button (click)="discardChanges()">Discard the changes</button>
    </mat-dialog-actions>
  </ng-template>