<form name="myForm" (ngSubmit)="myForm.form.valid && onSubmit(myForm)" #myForm1="ngForm" novalidate fxLayout="row wrap"
    fxLayoutAlign="start center">

    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Phone1" type="text"
        filedName="Phone1" [filedValue]="employeeContactInfo" required="true" errorRequired="Phone1 is required"
        [readonly]="!isEdit">
    </app-input>

    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Phone2" type="text"
        filedName="Phone2" [filedValue]="employeeContactInfo" required="true" errorRequired="Phone2 is required"
        [readonly]="!isEdit">
    </app-input>

    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="PersonalEmail" type="text" filedName="PersonalEmail"
        [filedValue]="employeeContactInfo" required="true" errorRequired="PersonalEmail is required" [readonly]="!isEdit">
    </app-input>

    <div fxLayoutAlign="end end" fxFlex="100">
        <button mat-raised-button color="primary" *ngIf="!isEdit" type="submit" [disabled]="!isEdit">
            Save
        </button>
        <button mat-raised-button color="primary" *ngIf="isEdit" type="submit" [disabled]="!myForm.valid">
            Save
        </button>
    </div>
</form>