<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="menu-header">
        <span>
            Company Admin </span>
    </div>

</mat-toolbar>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="padding">
    <mat-card fxLayoutAlign="center center" fxFlex="30" class="margin card"
        routerLink="/company-admin/create-application-user"> Create Application User</mat-card>
    <mat-card fxLayoutAlign="center center" fxFlex="30" class="margin card"
        routerLink="/company-admin/create-composite-role-1"> Create Composite Role</mat-card>
    <mat-card fxLayoutAlign="center center" fxFlex="30" class="margin card"
        routerLink="/company-admin/update-composite-role-1"> Update Composite Role</mat-card>
    <mat-card fxLayoutAlign="center center" fxFlex="30" class="margin card"
        routerLink="/company-admin/assign-unssign/intial-screen"> Assign / UnAssign Roles </mat-card>
    <mat-card fxLayoutAlign="center center" fxFlex="30" class="margin card"
        routerLink="/company-admin/associate-disassociate/intial-screen"> Assign / Dissociate Application User
    </mat-card>
</div>