<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="menu-header">
        <span>
            Company Admin /
        </span>
        <span style="color:#ccc">Assign/ Unassign Roles</span>
    </div>
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-form-field appearance="fill">
            <mat-label>User</mat-label>
            <mat-select name="userName" [(ngModel)]="userName" required="true">
                <mat-option *ngFor="let item of users" [value]="item.Name">{{item.Name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
        <button mat-raised-button (click)="next()">Next</button>
    </div>


</div>