<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div  class="menu-header">  
        <span>
            Operation </span>
    </div>

</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="center center" class="padding">
    <!-- <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" >
       <a routerLink="/masters" >Master</a> 
    </mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" >
        <a routerLink="/ubt" >UBT</a> 
    </mat-card> -->
    <mat-card  routerLink="/masters" fxLayoutAlign="center center" fxFlex="30" class="margin card" >
        Master 
    </mat-card>
    <mat-card  routerLink="/super-admin"fxLayoutAlign="center center" fxFlex="30" class="margin card" >
        Super Admin
    </mat-card>
    <mat-card  routerLink="/company-admin" fxLayoutAlign="center center" fxFlex="30" class="margin card" >
       Company Administrator
    </mat-card>
    <!-- <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card">Simple card</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card">Simple card</mat-card> -->
</div>
