<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center" >
    <div  class="menu-header">  
        <span>
            Masters </span>
    </div>

</mat-toolbar>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="padding">
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" routerLink="/masters/Customer" >Customer Master</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" routerLink="/masters/Vendor">Vendor Master</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" routerLink="/masters/Agency">Agency Master</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" routerLink="/masters/Goods">Goods Master</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" routerLink="/masters/Service">Service Master</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" routerLink="/masters/Bank">Bank Master</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" routerLink="/masters/partner"> Partner</mat-card>
</div>

