
   <mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-icon-button  matTooltip="Expand Tree">
               
              </button>
              Add Customer
        </div>
      

      
      </mat-toolbar>
      <div fxLayout="row" fxLayoutAlign="center center">
      
        <div style="height: 93vh;">
          <div>
      
          </div>
      
          <mat-card class="padding">
            <div class="padding fixed-height">
              <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="6px">
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>CustomerName</mat-label>
                  <input matInput placeholder="Placeholder" [(ngModel)]="CustomerName">
                </mat-form-field>
               
                <div fxLayoutAlign="center center" fxFlex="100">
                  <button mat-button (click)="addCustomerDetails()">Save</button>
                </div>
      
              </div>
      
            </div>
          </mat-card>
      
        
        </div>
      </div>

