
<div style="height: 50vh;" fxFlayout="row wrap" fxLayoutAlign="center start">
    <button fxFlex="5" mat-raised-button color="primary" [disabled]="!isEdit" (click)="openBankForm(myForm,null)">Add</button>
  
      
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <form name="myForm" (ngSubmit)="myForm.form.valid && onSubmit(myForm)" #myForm1="ngForm" novalidate fxLayout="row wrap"
    fxLayoutAlign="start center">
        <app-select fxFlex="33.3" [form]="myForm" labelName="Language" type="text" 
        filedName="BBId"
        [filedValue]="bankObj"  required="true" name="Language" [data]="Languages"
            readonly="false" errorRequired="State is required">

        </app-select>
  
        <mat-checkbox fxFlex="33.3"  [(ngModel)]="bankObj.DefaultAc" color="primary" [ngModelOptions]="{standalone: true}">Is Default Account</mat-checkbox>
        <mat-checkbox fxFlex="33.3"  [(ngModel)]="bankObj.IsActive" color="primary" [ngModelOptions]="{standalone: true}">Is Active</mat-checkbox>
    </form>
    </div>

</div>