<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="menu-header">
        <span>
            Super Admin /
        </span>
        <span style="color:#ccc">Create Role</span>
    </div>

</mat-toolbar>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="padding">
    <form (ngSubmit)="onSubmit(myForm)" novalidate fxLayout="row wrap" fxLayoutAlign="start center">
        <app-input fxFlex="50" [form]="myForm" class="padding-left" labelName="Role Name" type="text" filedName="Role"
            [filedValue]="role" [required]="true">
        </app-input>
        <app-input fxFlex="50" [form]="myForm" class="padding-left" labelName="Description" type="text"
            filedName="Description" [filedValue]="role">
        </app-input>

        <div fxLayoutAlign="end end" fxFlex="100">
            <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">
                Search
            </button>

        </div>
    </form>
</div>