<!--  -->
<mat-sidenav-container  fullscreen   >
        <mat-sidenav  *ngIf="router.url != '/' && router.url != '/login'" #sidenav style="background-color: #2F4050;color: #fff !important;z-index: 1;" mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" [opened]="isOpen" >
          <div class="logo">
              <h2 style="text-align:center">Little-ERP</h2>
          </div>
        
        <mat-nav-list style="padding-top:62px">
          <mat-list-item routerLink="operation" routerLinkActive="active" [ngClass]="{'active' : router.url != '/adminstration'}" style="color:#fff">
            <mat-icon mat-list-icon >dns</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5>Operation</h5>
            </div>
          </mat-list-item>
    
          <mat-list-item routerLink="adminstration" routerLinkActive="active" style="color:#fff">
            <mat-icon mat-list-icon >settings</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6">
              <h5>Adminstartion</h5>
            </div>
          </mat-list-item>

    
    
    
        </mat-nav-list>
    
      </mat-sidenav>
    
    <mat-sidenav-content>
        <button *ngIf="router.url != '/' && router.url != '/login'" mat-icon-button class="menu-btn" (click)="toggle()" style="position: absolute;top: 20px;left: 20px;"  >
          <mat-icon>menu</mat-icon>
        </button>
   
    
    <div style="height: 90vh;background-color: #f8f8f8f8;" >
       
        <label *ngIf="router.url != '/' && router.url != '/login'" class="uname" >Welcome to super user</label >
        <!-- <img  *ngIf="router.url != '/' && router.url != '/login'"src="../assets/user.jpg" class="uimage"  > -->
        <button  *ngIf="router.url != '/' && router.url != '/login'" mat-icon-button class="logout" (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </div>
    
    
    </mat-sidenav-content>
    </mat-sidenav-container>
