<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="menu-header">
        <span>
            Company Admin /
        </span>
        <span style="color:#ccc">Associate/Dissociate Application User
        </span>
    </div>
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-card *ngIf="userDetails" fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
                <label fxFlex="20">EmployeeId : </label>
                <span fxFlex="30"> {{userDetails.EmployeeId}}</span>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
                <label fxFlex="20">FirstName : </label>
                <span fxFlex="30">{{userDetails.FirstName}}</span>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
                <label fxFlex="20">MiddleName : </label>
                <span fxFlex="30">{{userDetails.MiddleName}}</span>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
                <label fxFlex="20">LastName : </label>
                <span fxFlex="30">{{userDetails.LastName}}</span>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
                <label fxFlex="20">Is Active : </label>
                <mat-slide-toggle fxFlex="30" [checked]="userDetails.IsActive === true ? true : false"
                    (change)="setValue($event )">
                </mat-slide-toggle>
            </div>
        </mat-card>
    </div>
</div>
<ng-template #loginDialog>
    <h2 matDialogTitle>Confirm</h2>
    <mat-dialog-content fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-form-field fxFlex="70">
            <input matInput placeholder="User Name" [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field fxFlex="70">
            <input matInput placeholder="Password" [(ngModel)]="password" type="password">
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="login()">
            Login
        </button>
        <button mat-button mat-dialog-close>
            Close
        </button>
    </mat-dialog-actions>
</ng-template>