<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="menu-header">
        <span>
            Company Admin /
        </span>
        <span style="color:#ccc">Composite Details</span>
    </div>
    <!-- <button mat-icon-button matTooltip="Edit" (click)="checkPermission()" *ngIf="!isEdit"
        style="padding-left:0px;padding-top: 8px;">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button matTooltip="View" *ngIf="isEdit" (click)="viewDetails()">
        <mat-icon>collections_bookmark</mat-icon>
    </button> -->

</mat-toolbar>
<button mat-icon-button *ngIf="width != 25 && appComponent.isOpen" class="treeIcon" (click)="maxWidth()"
    matTooltip="Expand Tree">
    <mat-icon>account_tree</mat-icon>
</button>
<button mat-icon-button *ngIf="width != 25 && !appComponent.isOpen" class="treeIconCollapse" (click)="maxWidth()"
    matTooltip="Expand Tree">
    <mat-icon>account_tree</mat-icon>
</button>

<div fxLayout="row" fxLayoutAlign="center center" *ngIf="dataSrc.length != 0">
    <div [style.width.%]="width" style="height: 93vh;background-color: #fff;border-right: 1px solid #ccc;"
        *ngIf="width != 0">
        <div fxLayout="row" fxLayoutAlign="end center">
            <div>
                <!-- <button mat-icon-button (click)="refresh()" matTooltip="Refresh Tree">
                    <mat-icon>refresh</mat-icon>
                </button> -->
                <button mat-icon-button (click)="minWidth()" matTooltip="Collapse Tree">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>

            </div>

        </div>
        <div *ngIf="width != 40">
            <button mat-raised-button (click)="newCompositeRole()">{{compositeRole.name}}</button>
            <app-tree [dataSrc]="dataSrc" [childrenNode]="childrenNode" (dataNodeChange)="dataNode($event)"
                (nodeLabelChange)="nodeLabel($event)"></app-tree>
        </div>

    </div>

    <div style="height: 93vh;width: 100%;margin:16px">
        <mat-card class="padding">

            <!-- <div class="padding fixed-height" fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-form-field class="example-form-field" appearance="outline" fxFlex="80">
                    <mat-label>Common User ID</mat-label>
                    <input matInput type="text" [(ngModel)]="commonUserId">
                </mat-form-field>
                <button mat-raised-button (click)="create()">Create</button>
            </div> -->
            <!-- <div *ngFor="let item of dataSrc">
                <span>{{item.Name}}</span>
                <div *ngFor="let child of item.Children">
                    <span>{{child.Name}}</span>
                </div>
            </div> -->
            <mat-accordion *ngIf="!isNewCompositeRole" class="example-headers-align" multi>
                <mat-expansion-panel *ngFor="let item of compositeData">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{item.Name}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{item.Description}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div *ngFor="let child of item.Children">
                        <mat-card>
                            <mat-card-header>
                                <div mat-card-avatar></div>
                                <mat-card-title> {{child.Name}}</mat-card-title>
                                <mat-card-subtitle>{{child.Description}}</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>

                        <!-- <div>{{child.Name}}</div>
                        <div> {{child.Description}} </div> -->
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <!-- <mat-list *ngIf="!isNewCompositeRole">
                <div mat-subheader>Composite Data</div>
                <mat-list-item *ngFor="let item of compositeData">
                    <div mat-line>{{item.Name}}</div>
                    <div mat-line> {{item.Description}} </div>
                    <div mat-subheader *ngIf="item.Children.length != 0">Composite Children</div>
                    <mat-list-item *ngFor="let child of item.Children">
                        <div mat-line>{{child.Name}}</div>
                        <div mat-line> {{child.Description}} </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list-item>


            </mat-list> -->

            <div fxLayout="row warp" *ngIf="isNewCompositeRole">

                <div fxFlex="90">
                    <div fxLayout="row warp" fxLayoutAlign="space-between center"
                        style="background-color:grey;height:50px">
                        <div fxFlex="50">
                            Role
                        </div>
                        <div fxFlex="50">
                            Mapped
                        </div>
                    </div>
                    <div *ngFor="let item of dataSrc">
                        <div *ngIf="item.Children.length != 0">
                            <div fxLayout="row warp" fxLayoutAlign="space-between center"
                                *ngFor="let child of item.Children">
                                <div fxFlex="50">
                                    {{child.Name}}
                                </div>
                                <div fxFlex="50">
                                    <mat-checkbox [(ngModel)]="child.Status" (ngModelChange)="changeEvent()">
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>


                    </div>
                    <button mat-raised-button (click)="create()">Create</button>
                </div>

            </div>
        </mat-card>
    </div>

</div>