<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="menu-header">
        <span>
            Masters </span>
    </div>

</mat-toolbar>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="padding">
    <mat-card fxLayoutAlign="center center" fxFlex="30" class="margin card" routerLink="/masters/Business"> Business
    </mat-card>
    <mat-card fxLayoutAlign="center center" fxFlex="30" class="margin card" routerLink="/masters/Comapny"> Company
    </mat-card>
    <mat-card fxLayoutAlign="center center" fxFlex="30" class="margin card" routerLink="/masters/employee"> Employee
    </mat-card>
    <mat-card fxLayoutAlign="center center" fxFlex="30" class="margin card" routerLink="/masters/role"> Role</mat-card>

</div>