
 <mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center" >
    <div  class="menu-header">  
        <span>
            Masters/Goods </span>
    </div>
  
  </mat-toolbar>
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="padding">
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="addGoods()">Add Goods</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="viewGoods()">View Goods</mat-card>
  </div>
  
  
  