
 <mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div  class="menu-header">  
        <span>
            Masters/Company </span>
    </div>
  
  </mat-toolbar>
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="padding">
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="addCompany()">Add Company</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="viewCompany()">View Company</mat-card>
  </div>
  
  
  