<form name="myForm" (ngSubmit)="myForm.form.valid && onSubmit(myForm)" #myForm1="ngForm" novalidate fxLayout="row wrap"
    fxLayoutAlign="start center">

    <app-select fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Employment Type" type="text"
        filedName="EmploymentTypeId" [filedValue]="employeeOfficalInfo" required="true" primaryKey="EmploymentTypeId" name="Name"
        [data]="employmentType" [readonly]="!isEdit" errorRequired="Employment Type is required">
    </app-select> 


    <mat-form-field fxFlex="33.3">
        <mat-label>DateOfJoining</mat-label>
        <input matInput [matDatepicker]="picker1" #date>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>


    <mat-form-field fxFlex="33.3">
        <mat-label>DateOfLeaving</mat-label>
        <input matInput [matDatepicker]="picker2" #date1>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="ReasonOfLeaving" type="text"
        filedName="ReasonOfLeaving" [filedValue]="employeeOfficalInfo" required="true"
        errorRequired="ReasonOfLeaving is required" [readonly]="!isEdit">
    </app-input>

    <app-select fxFlex="33.3" [form]="myForm" class="padding-left" labelName="line Manager" type="text"
        filedName="EmployeeId" [filedValue]="employeeOfficalInfo"  primaryKey="EmployeeId" name="EmployeeName"
        [data]="lineManagers" [readonly]="!isEdit" errorRequired="LineManager Type is required">
    </app-select>

    <div fxLayoutAlign="end end" fxFlex="100">
        <button mat-raised-button color="primary" *ngIf="!isEdit" type="submit" [disabled]="!isEdit">
            Save
        </button>
        <button mat-raised-button color="primary" *ngIf="isEdit" type="submit" [disabled]="!myForm.valid">
            Save
        </button>
    </div>
</form>