<form name="myForm" (ngSubmit)="myForm.form.valid && onSubmit(myForm)" #myForm1="ngForm" novalidate fxLayout="row wrap"
    fxLayoutAlign="start center">

    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="HouseNo" type="text"
        filedName="HouseNo" [filedValue]="employeeAddressInfo" required="true" errorRequired="HouseNo  is required"
        [readonly]="!isEdit">
    </app-input>

    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Address Line 1" type="text"
        filedName="AddressLine1" [filedValue]="employeeAddressInfo" required="true" errorRequired="Address Line 1 is required"
        [readonly]="!isEdit">
    </app-input>

    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Address Line 2" type="text" filedName="AddressLine2"
        [filedValue]="employeeAddressInfo" required="true" errorRequired="Address Line 2 is required" [readonly]="!isEdit">
    </app-input>

    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Address Line 3" type="text"
        filedName="AddressLine3" [filedValue]="employeeAddressInfo" required="true" errorRequired="Address Line 3 is required"
        [readonly]="!isEdit">
    </app-input>
    
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="LandMark" type="text"
        filedName="LandMark" [filedValue]="employeeAddressInfo" required="true" errorRequired="LandMark is required"
        [readonly]="!isEdit">
    </app-input>
    
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="PostOffice" type="text" filedName="PostOffice"
        [filedValue]="employeeAddressInfo" required="true" errorRequired="PostOffice is required" [readonly]="!isEdit">
    </app-input>
    
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="PoliceStation " type="text"
        filedName="PoliceStation" [filedValue]="employeeAddressInfo" required="true" errorRequired="PoliceStation  is required"
        [readonly]="!isEdit">
    </app-input>
    
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="City" filedName="City"
        [filedValue]="employeeAddressInfo" required="true" errorRequired="City is required" [readonly]="!isEdit">
    </app-input>
    
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="District" filedName="District"
        [filedValue]="employeeAddressInfo" required="true" errorRequired="District is required" [readonly]="!isEdit">
    </app-input>

    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Pin" filedName="Pin"
        [filedValue]="employeeAddressInfo" required="true" errorRequired="Pin is required" [readonly]="!isEdit">
    </app-input>

    <app-select fxFlex="33.3" [form]="myForm" class="padding-left" labelName="State" type="text" filedName="StateId"
        [filedValue]="employeeAddressInfo" required="true" primaryKey="StateId" name="StateName" [data]="dataLoad"
        [readonly]="!isEdit" errorRequired="State is required">
    </app-select>
    
    <div fxLayoutAlign="end end" fxFlex="100">
        <button mat-raised-button color="primary" *ngIf="!isEdit" type="submit" [disabled]="!isEdit">
            Save
        </button>
        <button mat-raised-button color="primary" *ngIf="isEdit" type="submit" [disabled]="!myForm.valid">
            Save
        </button>
    </div>
</form>