<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="menu-header">
        <span>
            Company Admin /
        </span>
        <span style="color:#ccc">Update Composite Details</span>
    </div>
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-form-field appearance="fill">
            <mat-label>Composite Role Name</mat-label>
            <mat-select name="roleName" [(ngModel)]="roleName" required="true">
                <mat-option *ngFor="let item of compositeRoles" [value]="item.CompositeRole">{{item.CompositeRole}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
        <button mat-raised-button (click)="search()">Search</button>
    </div>


</div>