<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="menu-header">
        <span>
            Company Admin /
        </span>
        <span style="color:#ccc">Create Application User</span>
    </div>

</mat-toolbar>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="padding">
    <form (ngSubmit)="onSubmit(myForm)" novalidate fxLayout="row wrap" fxLayoutAlign="start center">
        <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="EmployeeId" type="text"
            filedName="EmployeeId" [filedValue]="searchEmployee">
        </app-input>
        <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="FirstName" type="text"
            filedName="FirstName" [filedValue]="searchEmployee">
        </app-input>
        <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="LastName" type="text"
            filedName="LastName" [filedValue]="searchEmployee">
        </app-input>

        <div fxLayoutAlign="end end" fxFlex="100">
            <button mat-raised-button color="primary" type="submit">
                Search
            </button>

        </div>
    </form>
</div>