<form name="myForm" (ngSubmit)="myForm.form.valid && onSubmit(myForm)" #myForm1="ngForm" novalidate fxLayout="row wrap"
    fxLayoutAlign="start center">

    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="EmergencyContactName" type="text"
        filedName="EmergencyContactName" [filedValue]="employeeEmergencyInfo" required="true" errorRequired="EmergencyContactName  is required"
        [readonly]="!isEdit">
    </app-input>

    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="EmergencyContactPhone1" type="text"
        filedName="EmergencyContactPhone1" [filedValue]="employeeEmergencyInfo" required="true" errorRequired="EmergencyContactPhone1 is required"
        [readonly]="!isEdit">
    </app-input>

    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="EmergencyContactPhone2" type="text" filedName="EmergencyContactPhone2"
        [filedValue]="employeeEmergencyInfo" required="true" errorRequired="EmergencyContactPhone2 is required" [readonly]="!isEdit">
    </app-input>

    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="EmergencyContactEmail1" type="text"
        filedName="EmergencyContactEmail1" [filedValue]="employeeEmergencyInfo" required="true" errorRequired="EmergencyContactEmail1 is required"
        [readonly]="!isEdit">
    </app-input>
    
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="EmergencyContactEmail2" type="text"
        filedName="EmergencyContactEmail2" [filedValue]="employeeEmergencyInfo" required="true" errorRequired="EmergencyContactEmail2 is required"
        [readonly]="!isEdit">
    </app-input>
    
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="EmergencyContactRelationship" type="text" filedName="EmergencyContactRelationship"
        [filedValue]="employeeEmergencyInfo" required="true" errorRequired="EmergencyContactRelationship is required" [readonly]="!isEdit">
    </app-input>
    
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="EmergencyDependency" type="text"
        filedName="EmergencyDependency" [filedValue]="employeeEmergencyInfo" required="true" errorRequired="EmergencyDependency is required"
        [readonly]="!isEdit">
    </app-input>
    
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="EmergencyContactOrganization" filedName="EmergencyContactOrganization"
        [filedValue]="employeeEmergencyInfo" required="true" errorRequired="EmergencyContactOrganization is required" [readonly]="!isEdit">
    </app-input>
    
   
    <div fxLayoutAlign="end end" fxFlex="100">
        <button mat-raised-button color="primary" *ngIf="!isEdit" type="submit" [disabled]="!isEdit">
            Save
        </button>
        <button mat-raised-button color="primary" *ngIf="isEdit" type="submit" [disabled]="!myForm.valid">
            Save
        </button>
    </div>
</form>