<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="menu-header">
    <span>
      Master /
    </span>
    <span style="color:#ccc"> Add Partner Details</span>
  </div>
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="center center">
  <div style="height: 93vh;width: 100%;margin:16px">
    <mat-card class="padding">
      <div class="padding fixed-height">
        <app-add-business-form [isEdit]="isEdit" [business]="business" [industries]="industries"
          (saveData)="saveData($event)" (getBusinessDetails)="getBusinessDetails($event)">
        </app-add-business-form>
      </div>
    </mat-card>
  </div>
</div>


<ng-template #business>
  <h2 matDialogTitle>Maximum 26 business types can be added. Are you sure to create a business type?</h2>

    
      <mat-dialog-actions align="end">
          <button mat-button type="submit" (click)="createBusiness()" color="primary">Create</button>
          <button mat-button matDialogClose type="reset" color="primary">Close</button>
      </mat-dialog-actions>

</ng-template>