<div fxLayout="row wrap" fxlayoutalign="space-between center">


    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100">
        <mat-form-field appearance="outline" fxFlex="25">
            <mat-label>AdharNo</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="employeeDocumentsInfo.AdharNo" pattern="^(?!\s*$).+">
        </mat-form-field>
        <a *ngIf="!isEditAdhar" fxFlex="25" (click)="viewPdf(dialog,adhar)">
            {{adhar.split("/").pop()}}
        </a>
        <input fxFlex="25" type="file" [disabled]="!employeeDocumentsInfo.AdharNo" #myInput
            (change)="handleFileSelect($event)">
        <button fxFlex="25" mat-button type="button" [disabled]="!employeeDocumentsInfo.AdharNo"
            (click)="save('ADHAR')">Save</button>
        <!-- <button *ngIf="!isEditCIN" fxFlex="15" mat-button type="button" [disabled]="!isEdit" (click)="edit('CIN')">Edit</button> -->
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100">
        <mat-form-field appearance="outline" fxFlex="25">
            <mat-label>VoterId</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="employeeDocumentsInfo.VoterId" pattern="^(?!\s*$).+">
        </mat-form-field>
        <a *ngIf="!isEditVoterId" fxFlex="25" (click)="viewPdf(dialog,voterId)">
            {{voterId.split("/").pop()}}
        </a>
        <input fxFlex="25" type="file" [disabled]="!employeeDocumentsInfo.VoterId" #myInput
            (change)="handleFileSelect($event)">
        <button fxFlex="25" mat-button type="button" [disabled]="!employeeDocumentsInfo.VoterId"
            (click)="save('VOTERID')">Save</button>

    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100">
        <mat-form-field appearance="outline" fxFlex="25">
            <mat-label>Pan</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="employeeDocumentsInfo.PanNo" pattern="^(?!\s*$).+">
        </mat-form-field>
        <a *ngIf="!isEditPan" fxFlex="25" (click)="viewPdf(dialog,pan)">
            {{pan.split("/").pop()}}
        </a>
        <input fxFlex="25" type="file" [disabled]="!employeeDocumentsInfo.PanNo" #myInput
            (change)="handleFileSelect($event)">
        <button fxFlex="25" mat-button type="button" [disabled]="!employeeDocumentsInfo.PanNo"
            (click)="save('PAN')">Save</button>

    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100">
        <mat-form-field appearance="outline" fxFlex="25">
            <mat-label>Passport</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="employeeDocumentsInfo.Passport"
                pattern="^(?!\s*$).+">
        </mat-form-field>
        <a *ngIf="!isEditPassport" fxFlex="25" (click)="viewPdf(dialog,passport)">
            {{passport.split("/").pop()}}
        </a>
        <input fxFlex="25" type="file" [disabled]="!employeeDocumentsInfo.Passport" #myInput
            (change)="handleFileSelect($event)">
        <button fxFlex="25" mat-button type="button" [disabled]="!employeeDocumentsInfo.Passport"
            (click)="save('PASSPORT')">Save</button>

    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100">
        <mat-form-field appearance="outline" fxFlex="25">
            <mat-label>photographDate</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="employeeDocumentsInfo.RecentPhotographDate"
                pattern="^(?!\s*$).+">
        </mat-form-field>
        <a *ngIf="!isEditPhotograph" fxFlex="25" (click)="viewPdf(dialog,photograph)">
            {{photograph.split("/").pop()}}
        </a>
        <input fxFlex="25" type="file" [disabled]="!employeeDocumentsInfo.RecentPhotographDate" #myInput
            (change)="handleFileSelect($event)">
        <button fxFlex="25" mat-button type="button" [disabled]="!employeeDocumentsInfo.RecentPhotographDate"
            (click)="save('PHOTOGRAPH')">Save</button>

    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100">
        <mat-form-field appearance="outline" fxFlex="25">
            <mat-label>HighestQualification</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="employeeDocumentsInfo.HighestQualification"
                pattern="^(?!\s*$).+">
        </mat-form-field>
        <a *ngIf="!isEditHighestQualification" fxFlex="25" (click)="viewPdf(dialog,highestQualification)">
            {{highestQualification.split("/").pop()}}
        </a>
        <input fxFlex="25" type="file" [disabled]="!employeeDocumentsInfo.HighestQualification" #myInput
            (change)="handleFileSelect($event)">
        <button fxFlex="25" mat-button type="button" [disabled]="!employeeDocumentsInfo.HighestQualification"
            (click)="save('HIGHESTQUALIFICATION')">Save</button>

    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100">
        <mat-form-field appearance="outline" fxFlex="25">
            <mat-label>YearOfCompletion</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="employeeDocumentsInfo.YearOfCompletion"
                pattern="^(?!\s*$).+">
        </mat-form-field>
        <a *ngIf="!isEditYearOfCompletion" fxFlex="25" (click)="viewPdf(dialog,yearOfCompletion)">
            {{yearOfCompletion.split("/").pop()}}
        </a>
        <input fxFlex="25" type="file" [disabled]="!employeeDocumentsInfo.YearOfCompletion" #myInput
            (change)="handleFileSelect($event)">
        <button fxFlex="25" mat-button type="button" [disabled]="!employeeDocumentsInfo.YearOfCompletion"
            (click)="save('YEAROFCOMPLETION')">Save</button>

    </div>

</div>
<ng-template #dialog>
    <h2 matDialogTitle>Bank Detials</h2>
    <mat-dialog-content>
        <object [data]="pdfPath" style="width:800px;height: 500px" type='application/pdf'>
            <p>Sorry, the PDF couldn't be displayed :(</p>
            <a [href]="pdfPath" target="_blank">Click Here</a>
        </object>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button type="button" matDialogClose type="reset" color="primary">Close</button>
    </mat-dialog-actions>

</ng-template>