<form name="myForm" (ngSubmit)="myForm.form.valid && onSubmit(myForm)" #myForm1="ngForm" novalidate fxLayout="row wrap"
    fxLayoutAlign="start center">
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Customer Name" type="text"
        filedName="CustomerName" [filedValue]="customer" required="true" errorRequired="CustomerName is required"
        readonly="true">
    </app-input>
    <app-select fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Customer Type" type="text" filedName="CustomerTypeId"
        [filedValue]="customer" required="true" primaryKey="TypeId" name="TypeName" [data]="customerTypesLoad"
        [readonly]="!isEdit" errorRequired="CustomerType is required">

    </app-select>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Email1" type="text" filedName="Email1"
        [filedValue]="customer" required="true" errorRequired="Email1 is required" [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Email2" type="text" filedName="Email2"
        [filedValue]="customer" required="false" [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="URL" type="text" filedName="URL"
        [filedValue]="customer" required="false" [readonly]="!isEdit">
    </app-input>
    
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Phone1" type="text" filedName="Phone1"
        [filedValue]="customer" required="true" errorRequired="Phone1 is required" [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Phone2" type="text" filedName="Phone2"
        [filedValue]="customer" required="true" errorRequired="Phone2 is required" [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Address1" type="text" filedName="Address1"
        [filedValue]="customer" required="true" errorRequired="Address1 is required" [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Address2" type="text" filedName="Address2"
        [filedValue]="customer" required="true" errorRequired="Address2 is required" [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Address3" type="text"
        filedName="Address3" [filedValue]="customer" required="false" [readonly]="!isEdit">
    </app-input>
    <app-select fxFlex="33.3" [form]="myForm" class="padding-left" labelName="State" type="text" filedName="StateId"
        [filedValue]="customer" required="true" primaryKey="StateId" name="StateName" [data]="dataLoad"
        [readonly]="!isEdit" errorRequired="State is required">

    </app-select>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="CIN" type="text" filedName="CIN"
        [filedValue]="customer" required="true" errorRequired="CIN is required" [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="GSTIN"  filedName="GSTIN"
        [filedValue]="customer" required="true" errorRequired="Email is required" [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="PAN" 
        filedName="PAN" [filedValue]="customer" required="true" errorRequired="PAN is required"
        [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="TAN_NO" 
        filedName="TAN_NO" [filedValue]="customer" required="true" errorRequired="TAN_NO is required"
        [readonly]="!isEdit">
    </app-input>
     <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Fax" type="text" filedName="Fax"
        [filedValue]="customer" required="true" errorRequired="Fax is required" [readonly]="!isEdit">
    </app-input>

    <div fxLayoutAlign="end end" fxFlex="100">
        <button mat-raised-button color="primary" *ngIf="!isEdit" type="submit" [disabled]="!isEdit">
            Save
        </button>
        <button mat-raised-button color="primary" *ngIf="isEdit" type="submit" [disabled]="!myForm.valid">
            Save
        </button>
    </div>
</form>
