/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  overflow: auto;
  background-color: #f8f8f8;
}

* {
  padding: 0px;
  margin: 0px;
}

.float-btn {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
}

table {
  width: 100%;
}

.padding-left {
  padding-left: 16px;
}

.txtColor {
  font-size: 14px;
  font-family: Arial-regular;
}

.txtColor:hover {
  color: #f39c38 !important;
  cursor: pointer;
}

.nodeColor {
  color: #101010;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial-regular;
}

.background-highlight {
  /* background:#708090 !important; */
  color: #f39c38;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-radio-group {
  display: block;
  border: 1px solid #555;
  margin: 20px;
  padding: 10px;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.fixed-height {
  height: 72vh;
  overflow-y: auto;
}

.footer {
  bottom: 12px;
  background-color: #f8f8f8;
  width: 64.5%;
  left: 34.4%;
  position: fixed;
  z-index: 999;
}

.footer1 {
  bottom: 12px;
  background-color: #f8f8f8;
  width: 82.5%;
  left: 16.6%;
  position: fixed;
  z-index: 999;
}

.footer2 {
  bottom: 12px;
  background-color: #f8f8f8;
  width: 77%;
  left: 22%;
  position: fixed;
  z-index: 999;
}

.footer3 {
  bottom: 12px;
  background-color: #f8f8f8;
  width: 98%;
  left: 1%;
  position: fixed;
  z-index: 999;
}

.hidden {
  overflow: hidden;
}

.scroll {
  overflow-y: auto;
}

.content {
  position: relative;
  top: 42px;
  background-color: #fff;
}

.window-header {
  background-color: #f4f4f4;
  color: #131313;
  /* height: 50px; */
  /* position: fixed; */
  z-index: 999;
}

.window-icons {
  position: absolute;
  right: 0%;
  top: 0px;
  z-index: 999;
  background: grey;
  color: #ffffff;
  width: 100%;
}

.width-off {
  min-width: 81.2%;
}

.width-on {
  min-width: 65%;
}

.padding-left {
  padding-left: 16px;
}

.mat-tab-label-active {
  background-color: #2f4050 !important;
  color: #fff;
}

.mat-tab-body-wrapper {
  padding: 16px;
}

.mat-tab-list {
  line-height: 20px;
  background-color: rgba(244, 244, 244, 1);
  box-shadow: 0px 1px 3px 0px rgba(225, 225, 225, 1);
}

.mat-raised-button.mat-primary {
  background-color: #2f4050 !important;
  color: #fff !important;
}

.mat-list-base,
.mat-list-item {
  padding: 0px 12px;
  height: 48px !important;
}

.mat-form-field-infix {
  font-size: 13px !important;
}

.card {
  height: 100px;
  width: auto;
  cursor: pointer;
}

.margin {
  margin: 16px;
}

.menu-header {
  position: relative;
  top: 1px;
  left: 42px;
  width: 120px;
  height: 16px;
  color: rgba(16, 16, 16, 1);
  font-size: 14px;
  text-align: left;
  font-family: Arial-regular;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-empty.mat-form-field-label {
  font-size: 14px;
  color: #000 !important;
}

.arrow-keys {
  color: #f39c38;
}

.mat-action-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-list-option:focus,
.mat-list-option:hover,
.mat-nav-list .mat-list-item:focus,
.mat-nav-list .mat-list-item:hover {
  background-color: rgba(255, 152, 0, 1);
}
.mat-toolbar {
  background-color: #f8f8f8f8 !important;
}
.treeIcon {
  position: fixed !important;
  left: 14%;
  z-index: 999;
  background: #f39c38;
  color: #fff;
}
.treeIconCollapse {
  position: fixed !important;
  left: 0%;
  z-index: 999;
  background: #f39c38;
  color: #fff;
}
.menu-header {
  font-weight: 400;
}
.example-tree-progress-bar {
  margin-left: 30px;
}

.tree-container {
  height: 91vh;
  background-color: #fff;
  border-right: 1px solid #ccc;
  overflow-y: scroll;
}

mat-tree {
  margin-left: 12px;
}
.mat-tree-node {
  padding: 0;
  background-color: white;
}

.mat-nested-tree-node {
  top: -24px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.example-tree-container {
  border-bottom: 0;
}

ul {
  padding-left: 40px;
}

li {
  padding-left: 40px;
  border: 1px dotted grey;
  border-width: 0 0 1px 1px;
  position: relative;
  top: -24px;
}

li.mat-tree-node,
li div {
  margin: 0;
  position: relative;
  top: 24px;
}

li ul {
  border-top: 1px dotted grey;
  margin-left: -40px;
  padding-left: 60px;
}

.mat-nested-tree-node:last-child ul {
  border-left: 1px solid white;
  margin-left: -41px;
}

.mat-icon-button {
  z-index: 100;
}

.color_green {
  color: green;
  -webkit-text-fill-color: rgb(47, 64, 80);
}
.color_red {
  color: rgb(241, 22, 22);
  -webkit-text-fill-color: rgba(255, 152, 0, 1);
}
.mat-button-disabled {
  background-color: gray !important;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
