<form name="myForm" (ngSubmit)="myForm.form.valid && onSubmit(myForm)" #myForm1="ngForm" novalidate fxLayout="row wrap"
    fxLayoutAlign="start center">

    <!-- <app-select fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Customer Type" type="text" filedName="CustomerTypeId"
        [filedValue]="customer" required="true" primaryKey="TypeId" name="TypeName" [data]="customerTypesLoad"
        [readonly]="!isEdit" errorRequired="CustomerType is required">

    </app-select> -->
   
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="FirstName" type="text"
        filedName="FirstName" [filedValue]="employee" required="true" errorRequired="FirstName is required"
        [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="MiddleName" type="text"
        filedName="MiddleName" [filedValue]="employee" required="false" errorRequired="MiddleName is required"
        [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="LastName" type="text" filedName="LastName"
        [filedValue]="employee" required="false" errorRequired="LastName is required" [readonly]="!isEdit">
    </app-input>

    <!-- <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="DOB" type="text" filedName="DOB"
        [filedValue]="employee" required="true" errorRequired="DOB is required" [readonly]="!isEdit">
    </app-input> -->

    <mat-form-field fxFlex="33.3">
        <mat-label>DOB</mat-label>
        <input   matInput [matDatepicker]="picker1"  #date>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
     
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="FatherName" type="text"
        filedName="FatherName" [filedValue]="employee" required="true" errorRequired="FatherName is required"
        [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="MotherName" type="text"
        filedName="MotherName" [filedValue]="employee" required="true" errorRequired="MotherName is required"
        [readonly]="!isEdit">
    </app-input>
    
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Religion" type="text" filedName="Religion"
        [filedValue]="employee" required="true" errorRequired="MotherName is required" [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Nationality" type="text"
        filedName="Nationality" [filedValue]="employee" required="true" errorRequired="Nationality is required"
        [readonly]="!isEdit">
    </app-input>
    <mat-form-field fxFlex="33.3">
        <mat-select placeholder="BloodGroup" [(ngModel)]="employee.BloodGroup" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let item of BloodGroup" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="IdentityMark" filedName="IdentityMark"
        [filedValue]="employee" required="true" errorRequired="IdentityMark is required" [readonly]="!isEdit">
    </app-input>
    <app-input fxFlex="33.3" [form]="myForm" class="padding-left" labelName="Remarks" filedName="Remarks"
        [filedValue]="employee" required="true" errorRequired="Remarks is required" [readonly]="!isEdit">
    </app-input>
    
    <!-- <label>Gender</label> -->
    <mat-radio-group class="padding-left" fxFlex="33.3" aria-label="ActiveStatus" [(ngModel)]="employee.Gender"
        [disabled]="!isEdit" [ngModelOptions]="{standalone: true}">
        <mat-radio-button value=M>Male</mat-radio-button>
        <mat-radio-button value=F>FeMale</mat-radio-button>
        <mat-radio-button value=O>Other</mat-radio-button>
    </mat-radio-group>
    <!-- <label>MaritalStatus</label> -->
    <mat-radio-group class="padding-left" fxFlex="33.3" aria-label="ActiveStatus" [(ngModel)]="employee.MaritalStatus"
        [disabled]="!isEdit" [ngModelOptions]="{standalone: true}">
        <mat-radio-button value=M>Married</mat-radio-button>
        <mat-radio-button value=U>Unmarried</mat-radio-button>
    </mat-radio-group>
    
    <div fxLayoutAlign="end end" fxFlex="100">
        <button mat-raised-button color="primary" *ngIf="!isEdit" type="submit" [disabled]="!isEdit">
            Save
        </button>
        <button mat-raised-button color="primary" *ngIf="isEdit" type="submit" [disabled]="!myForm.valid">
            Save
        </button>
    </div>
</form>