<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="menu-header">
        <span>
            Company Admin /
        </span>
        <span style="color:#ccc">Associate/Dissociate Application User
        </span>
    </div>
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
        <mat-card *ngIf="userDetails" fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
                <label fxFlex="20">EmployeeId : </label>
                <span fxFlex="30"> {{userDetails.EmployeeId}}</span>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
                <label fxFlex="20">FirstName : </label>
                <span fxFlex="30">{{userDetails.FirstName}}</span>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
                <label fxFlex="20">MiddleName : </label>
                <span fxFlex="30">{{userDetails.MiddleName}}</span>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
                <label fxFlex="20">LastName : </label>
                <span fxFlex="30">{{userDetails.LastName}}</span>
            </div>
        </mat-card>
    </div>
    <div fxLayout="row warp" fxLayoutAlign="center center" fxFlex="100">

        <div fxFlex="90">
            <div fxLayout="row warp" fxLayoutAlign="space-between center" style="background-color:grey;height:50px">
                <div fxFlex="50">
                    Role
                </div>
                <div fxFlex="50">
                    Mapped
                </div>
            </div>
            <div *ngFor="let item of allRoles">
                <div>
                    <div fxLayout="row warp" fxLayoutAlign="space-between center">
                        <div fxFlex="50">
                            {{item.RoleName}}
                        </div>
                        <div fxFlex="50">
                            <mat-checkbox [(ngModel)]="item.Status" (ngModelChange)="changeEvent()">
                            </mat-checkbox>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <button mat-raised-button fxLayoutAlign="end end" (click)="compareChanges()">Compare Changes</button>

    </div>
</div>

<ng-template #compareDialog>
    <h2 matDialogTitle>Compare Changes</h2>

    <mat-dialog-content>

        <div fxLayout="row warp" fxLayoutAlign="center center" fxFlex="100">

            <div fxFlex="90" style="position: relative;
            top: 50px;">
                <div fxLayout="row warp" fxLayoutAlign="space-between center" style="background-color:grey;height:50px">
                    <div fxFlex="50">
                        Standard Role
                    </div>
                    <div fxFlex="25">
                        Old Assignment
                    </div>
                    <div fxFlex="25">
                        New Assignment
                    </div>
                </div>

                <div style="height: 500px;overflow:scroll;">
                    <div *ngFor="let item of standardRoles">
                        <div fxLayout="row warp" fxLayoutAlign="space-between center">
                            <div fxFlex="50">
                                {{item.RoleName}}
                            </div>
                            <div fxFlex="25">
                                {{item.status}}
                            </div>
                            <div fxFlex="25">
                                {{item.status1}}
                            </div>
                            <!-- <div fxFlex="50">
                            <mat-checkbox [(ngModel)]="item.Status" (ngModelChange)="changeEvent()">
                            </mat-checkbox>
                        </div> -->
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button type="submit" color="primary" (click)="update()">Update</button>
        <button mat-button matDialogClose type="reset" color="primary">Cancel</button>
    </mat-dialog-actions>
</ng-template>