<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="menu-header">
        <span>
            Company Admin /
        </span>
        <span style="color:#ccc">Business Details</span>
    </div>
    <!-- <button mat-icon-button matTooltip="Edit" (click)="checkPermission()" *ngIf="!isEdit"
        style="padding-left:0px;padding-top: 8px;">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button matTooltip="View" *ngIf="isEdit" (click)="viewDetails()">
        <mat-icon>collections_bookmark</mat-icon>
    </button> -->

</mat-toolbar>
<button mat-icon-button *ngIf="width != 25 && appComponent.isOpen" class="treeIcon" (click)="maxWidth()"
    matTooltip="Expand Tree">
    <mat-icon>account_tree</mat-icon>
</button>
<button mat-icon-button *ngIf="width != 25 && !appComponent.isOpen" class="treeIconCollapse" (click)="maxWidth()"
    matTooltip="Expand Tree">
    <mat-icon>account_tree</mat-icon>
</button>

<div fxLayout="row" fxLayoutAlign="center center" *ngIf="dataSrc.length != 0">
    <div [style.width.%]="width" style="height: 93vh;background-color: #fff;border-right: 1px solid #ccc;"
        *ngIf="width != 0">
        <div fxLayout="row" fxLayoutAlign="end center">
            <div>
                <!-- <button mat-icon-button (click)="refresh()" matTooltip="Refresh Tree">
                    <mat-icon>refresh</mat-icon>
                </button> -->
                <button mat-icon-button (click)="minWidth()" matTooltip="Collapse Tree">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>

            </div>

        </div>
        <div *ngIf="width != 40">
            <app-tree [dataSrc]="dataSrc" [childrenNode]="childrenNode" (dataNodeChange)="dataNode($event)"
                (nodeLabelChange)="nodeLabel($event)"></app-tree>
        </div>

    </div>

    <div style="height: 93vh;width: 100%;margin:16px">
        <mat-card class="padding" fxLayout="row wrap">

            <div class="padding" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
                <mat-form-field class="example-form-field" appearance="outline">
                    <mat-label>Common User ID</mat-label>
                    <input matInput type="text" [(ngModel)]="commonUserId">
                </mat-form-field>
                <button fxLayoutAlign="end end" mat-raised-button (click)="create()">Create</button>
            </div>

        </mat-card>
    </div>
</div>
<ng-template #createDialog>

    <!-- <form name="myForm1" (ngSubmit)="myForm1.form.valid && onSubmit1(myForm1)" #myForm1="ngForm" novalidate> -->
    <mat-dialog-content>
        <div fxLayout="row wrap" fxLayoutAlign="center center">

            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" [(ngModel)]="Password">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password" [(ngModel)]="ConfirmPassword">
            </mat-form-field>
        </div>


    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button type="submit" (click)="createApplicationUser()" color="primary">Save</button>
        <button mat-button matDialogClose type="reset" color="primary">Close</button>
    </mat-dialog-actions>
    <!-- </form> -->

</ng-template>